.song-container{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 20%;
    border-radius: 50%;
  }
  h2{
    padding: 3rem 2rem 2rem 2rem;
  }
  h3{
    font-size: 1rem;
  }
}